BasedOnStyle: Chromium
AccessModifierOffset: '-2'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortFunctionsOnASingleLine: Inline
BinPackParameters: 'true'
BreakBeforeBraces: Stroustrup
ColumnLimit: '79'
ConstructorInitializerIndentWidth: '2'
ContinuationIndentWidth: '2'
IndentWidth: '2'
Language: Cpp
PointerAlignment: Right
Standard: Cpp11
UseTab: Never
